body {
  background-image: url("https://images.unsplash.com/photo-1633272485505-6d0346c7d46e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
}
h1 {
  color: rgb(32, 172, 32);
  padding-left: 75px;
}

form {
  width: 20%;
  height: 500px;
  margin: 40px auto;
  padding: 100px;
  border: 50px;

  background: rgba(82, 99, 114, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

div {
  padding-bottom: 10px;
}

input {
  width: 80%;
  height: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 40px;
}

button {
  padding-left: 0px;
  margin-left: 140px;
  height: 50px;
  width: 30%;
}

li {
  display: inline;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  font-size: large;
}

iframe {
  width: 20%;
  height: 250px;
  display: ruby-base;
  text-align: center;
  padding-top: 20px;
}

#profile {
  width: 20%;
  height: 400px;
  border-radius: 50%;
  display: inline-block;
  border: solid white;
}
table {
  width: 30%;
  height: 200px;
}

th {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: large;
}

td {
  text-align: left;
  color: rgb(255, 255, 255);
}

table,
th,
td {
  border: 1px solid white;
}

p {
  color: white;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 30px;
  color: #f3f3f3;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-align: center;
}

#div_profile {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 200px;
}
h4 {
  color: white;
  font-size: large;
}

#contacts {
  font-size: large;
  color: red;
}

#skills {
  color: red;
}
